@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

<<<<<<< HEAD
.header .navbar{
	background-color: #34495E;
	border-color: #34495E;
	border-radius: 0;
}
.navbar-header img{
	margin-left: 44px;
	margin-top: 9px;
}
.navbar-default{
	margin-bottom: 0;
	background-color: #34495E;
	border-color: #34495E;
	border-radius: 0;	
}
.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}
.navbar-collapse .navbar-nav.navbar-right:last-child{
	margin-right: 44px;
}
.navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 11px;
    margin-top: 17px;
    margin-bottom: 17px;
    border-radius: 4%;
}
.navbar-default .navbar-nav > li > a{
	color: #949EA7;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
	color: #fff;
	background-color: #2C3E50;
}
.carousel-caption{
	text-align: left;
	margin-bottom: 190px;
	color: #fff;
	left: 5%;
	right: 5%;
}
.content-social{
	background-color: #2ECC71;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}
.iconos{
	height: 60px;
	width: 60px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	padding-top: 14px;
	text-align: center;
	margin-top: 23px;
}
.icon-social{
	
	color: #fff;
	font-size: 35px;
}
/*------Project------*/
.content-project{
	background-color: #F5F5F5;
	padding-top: 90px;
	padding-bottom: 90px;
}
.content-project img{
	padding: 10px;
	background-color: #fff;
}
/*clientes*/
.clients{
	background: #E74C3C;
	height: 400px;
	color: #FFFFFF;
	padding-top:40px;
}
.titulos{
	margin-top: 30px;
}
.titulos .list{
	border-left: 3px solid white;
}
.titulos p{
	font-size: small;
	margin-left: 20px;
}
.titulos h4{
	margin-left: 20px;
}
/*foot1*/
.foot1{
	background: #34495E;
	color: #B1B8BD;
	padding: 40px 0; 
}
.foot1 a{
	text-decoration: none;
	color: #B1B8BD;
}
.foot1 h4{
	color: #fff;
	font-weight: normal;
}
/*foot2*/
.foot2{
	background-color: #2C3E50;
	color: #B1B8BD;
	padding: 30px 0 40px 0;
}
.list-nav{
	padding-right: 20px;
}
.list-nav li{
	display: inline-block;
	text-decoration: none;
	padding-right: 10px;
}
.list-nav a{
	color: #B1B8BD;
}
.btn-default {
    color: #fff;
    background-color: #D9534F;
    border-color: #D9534F;
}
/*Blog*/
.content-intro{
	background-color: #2ECC71;
	color: #fff;
	padding: 40px 0;
}
.content-intro h1{
	font-weight: normal;
}
.content-intro .home a{
	text-decoration: none;
	color: #BEEFD3;
}
.home{
	padding-top: 45px;
}
.home a:hover{
	color: #fff;
}

.content-inf{
	background-color: #F5F5F5;
}
.content-inf .prof{
	background-color: #fff;
}
.prof ul{
	list-style: none;
	padding: 10px;
}
.prof li{
	display: inline-block;
}
.prof li a{
	text-decoration: none;
	color: #999999;
}
/*----Contact-----*/
.content-contac{
	padding: 35px 0 45px 0;
}
.content-contac .msj-form{
	padding-top: 57px;
}




=======

