@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

<<<<<<< HEAD
.header .navbar{
	background-color: #34495E;
	border-color: #34495E;
	border-radius: 0;
}
.navbar-default{
	margin-bottom: 0;
}

.content-home{
	background: url(../images/slider/bg1.jpg);
	background-size: cover;
	padding-top: 250px;
	padding-bottom: 250px;
	padding-left: 50px;
	color: #fff;

}
.content-social{
	background-color: #2ECC71;
	color: #fff;
}
/*clientes*/
.clients{
	background: #F63737;
	height: 400px;
	color: #FFFFFF;
	padding-top:40px;
}
.titulos{
	margin-top: 30px;
}
.titulos .list{
	border-left: 3px solid white;
}
.titulos p{
	font-size: small;
	margin-left: 20px;
}
.titulos h4{
	margin-left: 20px;
}

/*foot1*/
.foot1{
	background: 
}

=======
